@page
@model AdopPix.Pages.auth.ChangePasswordModel
@{
    ViewBag.NavbarIsShow = true;
}

@if (!Model.isSucceeded)
{
    <div class="d-flex justify-content-center" style="height: 80vh;">
        <form class="mt-5" method="post" style="width:400px; box-shadow: 1px 1px 37px lightgray;padding: 100px 30px;border-radius: 20px;">
            <h3>Change password</h3>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.OldPassword" />
                <span asp-validation-for="changePasswordViewModel.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>New Password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.NewPassword" />
                <span asp-validation-for="changePasswordViewModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Confirm new password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.ConfirmNewPassword" />
                <span asp-validation-for="changePasswordViewModel.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Change Password" class="changepassword " />
                <a asp-page="/auth/setting" class="cancel">Cancel</a>
            </div>
        </form>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div>
            <div>
                <h1>Password has been changed.</h1>
            </div>
            <div class="mt-4">
                <div class="d-grid gap-2">
                    <a asp-page="/auth/setting" class="btn btn-outline-dark w-100 mb-2">Back to setting</a>
                </div>
            </div>
        </div>

    </div>

}


<style>
    .changepassword {
        background-color: #4F9FDA;
        color: white;
        border-radius: 41px;
        padding: 6px;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 15px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 30px;
        border: none;
    }

    .cancel {
        background-color: white;
        color: #5F5F5F;
        border-radius: 41px;
        padding: 6px;
        text-decoration: none;
        box-shadow: 1px 1px 1px rgb(197, 197, 197);
        font-weight: 700;
        font-size: 1rem;
        line-height: 30px;
        display: grid;
        text-align: center;
    }

        .cancel:hover {
            color: lightgray;
            transition: .5s all;
        }
</style>