@page
@model AdopPix.Pages.auth.ForgetPasswordModel
@{
    ViewBag.NavbarIsShow = true;
}

<div class="d-flex justify-content-center align-items-center bg-login" style="height: 80vh; margin-top: 5%;">

<div class="controller-form" style="width: 378px;height: 490px;">

    
        <div>
            <h2 style="font-weight: 900;font-size: 2.5rem;line-height: 70px;text-align: center;color: #4F9FDA;  margin: 0;}">
                AdopPix
            </h2>
            <p style="font-weight: 700;font-size: 0.8rem;line-height: 18px;text-align: center;color: #ADADAD;">
                เริ่มต้นการประมูลรูปภาพของคุณกับเราสิ
            </p>
            <h4 style="text-align:center; font-weight: 900; font-size: 24px; line-height: 28px; color: #4A4A4A;">
                ลืมรหัสผ่าน
            </h4>
        </div>


        <div>

@if (!Model.Succeeded)
{
                <div class="d-flex justify-content-center align-items-center" style="">
                    <div class="w-100">
                        <form method="post">
                            <div class="">
                                <label>Your Email</label>
                                <input type="email" asp-for="forgetPasswordViewModel.Email" class=" form-control input-rework" />
                                <span asp-validation-for="forgetPasswordViewModel.Email" class="text-danger"></span>
                            </div>
                            <div class="d-grid gap-2 mt-5">
                                <input type="submit" value="Reset password" class="resetpassword  w-100 mb-2" />
                                <a asp-page="/auth/login" class="backtologin resetpassword w-100 mb-5">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>    
}
else
{
                <div style="">
                    <div class="w-100 d-flex justify-content-center align-items-center mt-1" style="">
                        <div class="h-75">
                            <div class="d-flex justify-content-center">
                                <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/007/873/original/email.png" class="img-fluid w-50" />
                            </div>
                            <h3 style="  font-size: 1.45rem;text-align: center;}">Go to your email to reset your password.</h3>
                            <div class="d-grid gap-2 mt-1">
                                <a asp-page="/auth/login" class="resetpassword w-100">Back to login</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
</div>

</div>




   


      
            
        </div>

       



<style>

        a{
        text-decoration:none;
        color: #4A4A4A;
        font-weight:bold;
        transition: .3s all;
    }
    a:hover{
        color: lightgray;
        transition: .5s all;
    }

body{
       background:url('https://adoppixstorage.s3.ap-southeast-1.amazonaws.com/bg-login.jpg') no-repeat !important;  
}
.text-input{
    font-size: 1.5rem;
}
.controller-form{
    background: rgba(255, 255, 255, 0.882);
padding: 40px;
border-radius: 10px;
}
.input-rework{
    border-radius: 50px;
border: none;
background: #EEEEEE;
padding: 4px 28px;
font-size: 20px;
}
   .resetpassword {
        background-color: #4F9FDA;
color: white;
border-radius: 41px;
padding: 6px;
text-decoration: none;
margin-bottom: 30px;
margin-top: 15px;
font-weight: 700;
font-size: 1rem;
line-height: 30px;
border: none;
text-align:center;
    }

    .backtologin {
        background-color: white;
        color: #5F5F5F;
        border-radius: 41px;
        padding: 6px;
        text-decoration: none;
        box-shadow: 1px 1px 1px rgb(197, 197, 197);
        font-weight: 700;
        font-size: 1rem;
        line-height: 30px;
        display: grid;
        text-align: center;
    }
    .backtologin:hover {

        color: lightgray;
        transition: .5s all;

    }

</style>
