



<div class="page-ctr" style="margin-top: 20%">

    <div class="aflex-row">
        <div class="auction-btn">
            <div style="margin-top: 16%;">
                <a class="" style="text-align: center;" href="/Auction/Create">
                    <p style="text-align: center;">
                        <i class="fa-solid fa-gavel fa-4x"></i>
                    </p>
                    <h3>Upload Auction</h3>

                </a>

            </div>
        </div>


        <div class="illustation-btn">
            <div style="margin-top: 16%;">
                <a class="" style="text-align: center;" href="/Post/Create">
                    <p style="text-align: center;">
                        <i class="fa-solid fa-paintbrush fa-4x"></i>
                    </p>
                    <h3>Upload illustration</h3>
                </a>
            </div>
        </div>
    </div>


</div>





    <style>
    body{
      background-image: url('https://adoppix.s3.ap-southeast-1.amazonaws.com/post-bg.jpg');

        
  background-size: cover;
    }
    .navbar-controll{
    background: none !important;
border-bottom: none !important;
color:white;
}


.auction-btn{
    border-radius: 20px;
background: linear-gradient(90deg, rgba(221, 94, 137, 0.8) 0%, rgba(247, 187, 151, 0.8) 100%);
padding: 40px;
color: white;
width: 340px;
margin: 0 auto;
height: 300px;


}
.illustation-btn{
    border-radius: 20px;
background: linear-gradient(90deg, rgba(31, 162, 255, 0.8) 0%, rgba(18, 216, 250, 0.8) 50%, rgba(166, 255, 203, 0.8) 100%);
padding: 40px;
color: white;
width: 340px;
margin: 0 auto;
height: 300px;

}


.aflex-row{
      display: flex;
  flex-direction: row;
}
a{
    text-decoration:none;
}
h3{
    color:white;
    text-align: center;
    font-weight: 700;
}
i{
    color:white
}
</style>